<!DOCTYPE html>
<html>
<head>
  <title>AngularJS File Upoad Example with $http and FormData</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</head>

<body ng-app="AddDealApp" ng-controller="AddDealController" ng-cloak>

    <section id="container">
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <form>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label>Images</label>
                                </div>
                                <div class="panel-body">
                                    <div style="position:relative;">

                                        <div class="row">
                                            <div class="col-lg-6" ng-repeat="image in imagesrc">
                                                <div class="thumbnail">
                                                    <img style="min-height:100px;" src="{{image.Src}}">
                                                </div>


                                            </div>
                                        </div>
                                        <div style="position:absolute;bottom:0;display:block;width:100%; color:#fff;background-color:#333;">
                                            <input id="file" ng-hide="true" type="file" accept="images/*" class="form-control" multiple ng-files="getTheFiles($files)" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center" style="background-color:#337ab7;cursor:pointer;color:#fff;" onclick="document.getElementById('file').click();">
                                    <span class="h4">Add Images</span>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label>Basic Information</label>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label style="font-size:13px;">Name</label>
                                                <input type="text" ng-model="DealDetail.Name" class="form-control" placeholder="Enter Deal Name" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label style="font-size:13px;">Description</label>
                                                <textarea rows="4" ng-model="DealDetail.Description" class="form-control" placeholder="Enter description here..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-lg-offset-9">
                                            <div class="form-group" style="padding-top:10px;">
                                                <a ng-click="Submit()" class="btn btn-primary btn-block" style="padding:10px;border:none;border-radius:0;font-size:16px;">Add Deal</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        

                    </div>
                </form>
                
            </section>
        </section>

    </section>

</body>
<script>
    // angular.module('fupApp', [])
    //     .directive('ngFiles', ['$parse', function ($parse) {

    //         function fn_link(scope, element, attrs) {
    //             var onChange = $parse(attrs.ngFiles);
    //             element.on('change', function (event) {
    //                 onChange(scope, { $files: event.target.files });
    //             });
    //         };

    //         return {
    //             link: fn_link
    //         }
    //     } ])
    //     .controller('fupController', function ($scope, $http) {

    //         var formdata = new FormData();
    //         $scope.getTheFiles = function ($files) {
    //             angular.forEach($files, function (value, key) {
    //                 formdata.append(key, value);
    //             });
    //         };

    //         // NOW UPLOAD THE FILES.
    //         $scope.uploadFiles = function () {
    //             console.log(formdata)
    //             var request = {
    //                 method: 'POST',
    //                 url: 'http://localhost:8080/rest/uploadfile',
    //                 files: formdata,
    //                 headers: {
    //                     'Content-Type': undefined
    //                 }
    //             };

    //             // SEND THE FILES.
    //             $http(request)
    //                 .success(function (d) {
    //                     alert(d);
    //                 })
    //                 .error(function () {
    //                 });
    //         }
    //     });




        var AddDealApp = angular.module('AddDealApp', ['fupApp']);

AddDealApp.controller('AddDealController', ['$scope', 'AddDealService', function ($scope, AddDealService) {


    //Add File start.....
    $scope.getTheFiles = function ($files) {

        $scope.imagesrc = [];

        for (var i = 0; i < $files.length; i++) {

            var reader = new FileReader();
            reader.fileName = $files[i].name;

            reader.onload = function (event) {

                var image = {};
                image.Name = event.target.fileName;
                image.Size = (event.total / 1024).toFixed(2);
                image.Src = event.target.result;
                $scope.imagesrc.push(image);
                $scope.$apply();
            }
            reader.readAsDataURL($files[i]);
        }

        $scope.Files = $files;

    };
    //Add File End...

    // Submit Forn data
    $scope.Submit = function () {


        //FILL FormData WITH FILE DETAILS.
        var data = new FormData();

        angular.forEach($scope.Files, function (value, key) {
            data.append(key, value);
        });

        data.append("DealModel", angular.toJson($scope.DealDetail));
        AddDealService.AddDeal(data).then(function (response) {
            alert("Added Successfully");
        }, function () {

        });
    };


}]);


AddDealApp.factory('AddDealService', ['$http', function ($http) {

    var fac = {};

    fac.AddDeal = function (data) {
        return $http.post("/api/Deal", data, {
            withCredentials: true,
            headers: { 'Content-Type': undefined },
            transformRequest: angular.identity
        })
    }

    return fac;
}])
</script>
</html>











