
<!DOCTYPE html>
<html lang="en">
<head>
<title>Auction Sale Anything</title>

<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<!-- web-fonts -->  
<!-- start-smooth-scrolling -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body ng-app="app" ng-controller="mypostcontroll">
	<!-- header -->   
    <!-- post ad-->
    <div class="submit-ad main-grid-border">
		<div class="container">
        <br>
        <br>
			<h3 class="w3ls-title w3ls-title1">Post Your Ad</h3>  
			<div class="post-ad-form">
				<form name="form" ng-submit="insert()">
					<label>Select Category <span>*</span></label>
					<select class="" ng-required="true" ng-model="category">
					  <option disabled selected value>Select Category</option>
					  <option>Mobiles</option>
					  <option>Electronics</option>
					  <option>Cars</option>
					  <option>Bikes</option>
					  <option>Furniture</option>
					</select>
					<div class="clearfix"></div>
					<label>Ad Title <span>*</span></label>
					<input type="text" ng-model="title" ng-required="true" class="phone" placeholder="">
					<div class="clearfix"></div>
                    <label>Price <span>*</span></label>
						<input type="number" ng-required="true" class="numb" ng-model="price" placeholder="">
					<label>Ad Description <span>*</span></label>
					<textarea class="mess" ng-required="true" ng-model="description" placeholder="Write few lines about your product"></textarea>
					<div class="clearfix"></div>
				<div class="upload-ad-photos">
				<label>Photos for your ad :</label>	
					<div class="photos-upload-view">
						<div class="row container-fluid">
							<div class="col-lg-4">
								<input type="file"  ng-model="files" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" ng-required="true" class="btn btn-info"/></div>
							<div class="col-lg-4" >
								<input type="file" accept="image/*"  ng-model="image2" onchange="angular.element(this).scope().uploadedFile2(this)" ng-required="true" class="btn btn-info" /></div>
                            <div class="col-lg-4">
                            	<input type="file"  accept="image/*"  ng-model="image3" onchange="angular.element(this).scope().uploadedFile3(this)"  ng-required="true" class="btn btn-info"/></div>
                            
						
						</div>
                        <div class="row">
                        <div class="col-lg-4"><img id="output"  style="width:200px; height:150px" class="img-responsive"/></div>
                         <div class="col-lg-4"><img id="output1" style="width:200px; height:150px" class="img-responsive"/></div>
                          <div class="col-lg-4"><img id="output2" style="width:200px; height:150px" class="img-responsive"/></div>
                        </div>
					<div class="clearfix"></div>
				</div>
					<div class="personal-details">
					
						<div class="clearfix"></div>
						
					<input type="submit" value="Post">					
					<div class="clearfix"></div>
					</form>
					</div>
			</div>
		</div>	
	</div>
    <script>
    
  var app = angular.module('app',[]);
    app.controller('mypostcontroll', function($scope, $http) {
    	
    	$scope.form=[];
    	$scope.files=[];
		$scope.insert=function(){
			$scope.image1=$scope.files[0];
			$scope.image2=$scope.files2[0];
			$scope.image3=$scope.files3[0];
			
			
			$http({
				method:'POST',
				url:"http://localhost:8080/rest/uploadfile",
				processData:false,
				transformRequest:function(data){
					var formData=new FormData();
					formData.append("files", $scope.image1);
					formData.append("files", $scope.image2);
					formData.append("files", $scope.image3);
					formData.append("description", $scope.description);
					formData.append("title", $scope.title);
					formData.append("price", $scope.price);
					formData.append("category", $scope.category);


			      return formData;
			      return $scope.category;
			      return $scope.title;
			      return $scope.price;
			      return $scope.description;  
			  },  
			  data : $scope.form,
			  headers: {
			         'Content-Type': undefined
			  }
		   }).then(function(response){
				var data = response.data;
		        alert('Thêm Thành Công');
		        
		   });
		   
			};
			$scope.uploadedFile=function(element)
			{
				$scope.currentFile = element.files[0];
		    var reader = new FileReader();

		    reader.onload = function(event) {
		    	var output = document.getElementById('output');
    			output.src = URL.createObjectURL(element.files[0]);
	
		      $scope.image_source = event.target.result
		      $scope.$apply(function($scope) {
		        $scope.files = element.files;
		      });
		    }
                    reader.readAsDataURL(element.files[0]);
		  }


		  $scope.uploadedFile2=function(element)
			{
				$scope.currentFile2 = element.files[0];
		    var reader = new FileReader();

		    reader.onload = function(event) {
		    	var output1 = document.getElementById('output1');
    			output1.src = URL.createObjectURL(element.files[0]);
		      $scope.image_source = event.target.result
		      $scope.$apply(function($scope) {
		        $scope.files2 = element.files;
		      });
		    }
                    reader.readAsDataURL(element.files[0]);
		  }


		  $scope.uploadedFile3=function(element)
			{
				$scope.currentFile3 = element.files[0];
		    var reader = new FileReader();

		    reader.onload = function(event) {
		    	var output2 = document.getElementById('output2');
    			output2.src = URL.createObjectURL(element.files[0]);
		      $scope.image_source = event.target.result
		      $scope.$apply(function($scope) {
		        $scope.files3 = element.files;
		      });
		    }
                    reader.readAsDataURL(element.files[0]);
		  }
		
	});
</script>
    <!-- //post ad-->
	
	
</body>
</html>
