<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Developer mode</title>
</head>
<body>
    <main>
        <h1 class="text-light bg-dark text-center text-uppercase fw-bolder">Quản lý tài khoản nhân viên</h1>
        <div class="position-relative p-1 border rounded-3 bg-warning" ng-app="app" ng-controller="control">
            <!-- Display -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8">
                        <h3 class="text-center border-bottom text-uppercase">Quản lý thông tin</h3>
                        <form class="border rounded p-1" id="entity">
                            <div id="fields">
                                <div class="row">
                                    <div class="col-4 border-end">
                                        <div class="d-flex flex-wrap h-100 align-items-end align-content-center">
                                            <input type="file" accept="image/png, image/jpeg" id="prepareImg" class="form-control" onchange="setImage(this,showImage)">
                                            <div class="o-fit-cover w-100">
                                                <img ng-src="{{getImage(entity.image ? entity.image : entity.role ? 'admin.png' : 'default.png')}}" onerror="this.src=getImage()" class="fit-img" id="showImage">
                                                <label class="w-100 mt-1 border-top text-center text-muted overflow-auto" ng-bind="entity.image ? entity.image : 'default image'"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div class="mt-1" id="username">
                                                    <label for="username" class="form-label fw-bold">username</label>
                                                    <input type="text" class="form-control" ng-model="entity.username">
                                                </div>
                                            </div>
                                            <div class="col-4 text-nowrap">
                                                <label for="role" class="form-label fw-bold">admin's role</label>
                                                <div class="mt-1 form-check form-switch" id="role">
                                                    <input type="checkbox" class="form-check-input" ng-model="entity.role">
                                                    <label for="role" class="form-check-label fw-bold">is admin</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-1" id="password">
                                            <label for="password" class="form-label fw-bold">password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" ng-model="entity.password">
                                                <div class="input-group-text">
                                                    <i class="fa-solid fa-eye-slash" onclick="showPass(password.getElementsByTagName('input')[0],this)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-1" id="email">
                                            <label for="email" class="form-label fw-bold">account's email</label>
                                            <input type="email" class="form-control" ng-model="entity.email">
                                        </div>
                                        <div class="mt-1" id="image">
                                            <label for="image" class="form-label fw-bold">account's image</label>
                                            <input type="text" class="form-control" ng-model="entity.image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mt-1 w-100 d-flex justify-content-between">
                            <div class="btn-group p-1 border border-info bg-dark rounded-2">
                                <button class="btn btn-outline-secondary" onclick="location.reload()">reload</button>
                                <button class="btn btn-outline-primary" ng-click="get()">Get data</button>
                            </div>

                            <div class="btn-group p-1 mw-100 border border-info bg-dark rounded-2 overflow-auto">
                                <button class="btn btn-outline-primary" ng-click="read(entity.username)">read</button>
                                <button class="btn btn-outline-success" ng-click="post(entity)">create</button>
                                <button class="btn btn-outline-warning" ng-click="put(entity)">update</button>
                                <button class="btn btn-outline-danger" ng-click="delete(entity.username)">delete</button>
                                <button type="reset" class="ms-3 btn btn-outline-light" form="entity" ng-click="entity=null">refresh</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 border-start text-end d-flex flex-column">
                        <!-- CONTENT FILTERS -->
                        <h3 class="text-center border-bottom text-uppercase">Bộ lọc nội dung</h3>
                        <div class="mt-auto"></div>
                        <div class="mt-1 p-1 border text-start">
                            <div class="row mt-1">
                                <div class="col-8">
                                    <label for="fil" class="form-label fw-bold">Sắp xếp</label>
                                    <select class="form-select" ng-model="fil.orderBy" ng-init="fil.orderBy='username'">
                                        <option class="bg-danger text-center fw-bold">A-Z</option>
                                        <option class="text-end" value="username">Username tăng➡</option>
                                        <option class="text-end" value="image">Hình ảnh tăng➡</option>
                                        <option class="text-end" value="email">Email tăng➡</option>
                                        <option class="bg-danger text-center fw-bold">Z-A</option>
                                        <option class="text-start" value="-username">⬅Giảm username</option>
                                        <option class="text-start" value="-image">⬅Giảm hình ảnh</option>
                                        <option class="text-start" value="-email">⬅Giảm email</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="fil" class="form-label fw-bold">admin</label>
                                    <div class="form-check form-switch">
                                        <input class="{{fil.role==undefined ? 'bg-light' : fil.role ? 'bg-primary' : 'bg-danger'}} form-check-input" type="checkbox" role="switch" ng-model="fil.role">
                                        <label class="form-check-label">Is admin</label>
                                        <a href="" class="fw-bold" ng-click="fil.role=undefined">All</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1">
                                <label class="form-label fw-bold">Tìm kiếm</label>
                                <input type="text" class="form-control text-end" ng-model="keywords">
                            </div>
                        </div>
                        <div class="mt-1 p-1 overflow-auto border text-nowrap">
                            <table class="table text-start text-center" style="font-size: 1.2rem;">
                                <tr class="overflow-auto">
                                    <td>tổng</td>
                                    <td class="fw-bold">{{data.length}}</td>
                                    <td>thực tế</td>
                                    <td class="fw-bold">{{(fil.lenght = (data | filter:keywords | filter:{role:fil.role}).length)}}</td>
                                </tr>
                                <tr class="overflow-auto">
                                    <td class="text-end">trang</td>
                                    <td>
                                        <input type="number" style="max-width: 80px;" class="text-end bg-transparent rounded" ng-model="fil.page"
                                        ng-init="fil.page = 0" min="0" max="{{fil.maxPage = (fil.lenght-fil.lenght%fil.quantity)/fil.quantity}}">
                                    </td>
                                    <td>số lượng</td>
                                    <td>
                                        <input type="number" style="max-width: 80px;" class="text-end bg-transparent rounded" ng-model="fil.quantity"
                                        ng-init="fil.quantity=3" min="" max="{{fil.lenght}}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="mt-1 border-top col-12 overflow-auto mh-100">
                        <div class="border-bottom p-1 d-flex justify-content-between align-items-center">
                            <h3 class="text-start text-uppercase">Dữ liệu hiển thị</h3>
                            
                            <div id="message"></div>
                            
                            <div class="btn-group w-25">
                                <button class="btn btn-outline-light ms-1 me-1" ng-click="fil.page = 0">
                                    <i class="fa-solid fa-backward-step"></i>
                                </button>
                                <button class="btn btn-outline-light ms-1 me-1" ng-click="fil.page = fil.page-1">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-outline-light ms-1 me-1" ng-click="fil.page = fil.page+1">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                                <button class="btn btn-outline-light ms-1 me-1" ng-click="fil.page = fil.maxPage">
                                    <i class="fa-solid fa-forward-step"></i>
                                </button>
                            </div>
                        </div>
                        <div class="overflow-auto" style="max-height: 80vh;">
                            <table class="table table-dark table-hover text-nowrap border">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-start">image</th>
                                        <th>role</th>
                                        <th>username</th>
                                        <th>password</th>
                                        <th>email</th>
                                        <th class="border-start">controls</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="e in data | filter:keywords | filter:{role:fil.role} | orderBy:fil.orderBy | limitTo: fil.quantity:fil.page*fil.quantity" ng-dblClick="read(e)">
                                        <td class="text-end border-end">
                                            <div style="max-width: 30vw; overflow-x: auto;">
                                                <span ng-bind="e.image"></span>
                                            </div>
                                        </td>
                                        <td class="text-center {{e.role ? 'text-primary' : 'text-secondary'}}" ng-bind="e.role ? 'is admin' : 'isn\'t admin'"></td>
                                        <td ng-bind="e.username"></td>
                                        <td class="text-center" ng-bind="e.password"></td>
                                        <td ng-bind="e.email"></td>
                                        <td class="border-start text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-outline-danger" ng-click="delete(e.username)">delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<!-- Javascript app -->
		<script type="text/javascript" th:src="@{/js/app/staff.js}"></script>
    </main>
</body>

</html>