IF NOT EXISTS(SELECT name FROM sys.databases WHERE name = 'RRS_DB')
	CREATE DATABASE [RRS_DB]
GO
USE [RRS_DB]

	DBCC CHECKIDENT ('[CONTENTS]', RESEED, 0);

	DROP TABLE [dbo].[APIs]
	DROP TABLE [dbo].[LIKES]

	DROP TABLE [dbo].[CONTENT_TYPES]
	DROP TABLE [dbo].[CATEGORIES]
	DROP TABLE [dbo].[CONTENT_IMAGES]
	DROP TABLE [dbo].[CONTENTS]
	
	DROP TABLE [dbo].[ACCOUNTS]
	DROP TABLE [dbo].[STAFFS]

GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[image] [nvarchar](80) NULL,
	[regDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APIs]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIs](
	[id] [varchar](30) NOT NULL,
	[value] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[id] [char](8) NOT NULL,
	[name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT_IMAGES]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_IMAGES](
	[image] [nvarchar](255) NOT NULL,
	[content_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image] ASC,
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT_TYPES]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_TYPES](
	[content_id] [int] NOT NULL,
	[category_id] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[content_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENTS]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](80) NULL,
	[content] [nvarchar](255) NULL,
	[regTime] [datetime] NULL,
	[views] [int] NULL,
	[active] [bit] NULL,
	[account_id] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIKES]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKES](
	[account_id] [varchar](20) NULL,
	[content_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 9/29/2022 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NULL,
	[email] [varchar](50) NULL,
	[role] [bit] NULL,
	[image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'abc', N'123', N'Chung Bảo Trúc', N'samara.hirthe69@yahoo.com', N'https://nguoinoitieng.tv/images/nnt/101/0/bfr6.jpg', CAST(N'2022-03-16' AS Date))
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'bcd', N'123', N'Giang Lê Quỳnh', N'estrella42@gmail.com', N'Purchasing-Staff.jpg', CAST(N'2022-03-25' AS Date))
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'cde', N'123', N'Ngư Thy Vân', N'myrl_mitchell@gmail.com', N'', CAST(N'2022-03-30' AS Date))
GO
INSERT [dbo].[APIs] ([id], [value]) VALUES (N'path_img_account', N'/dir/images/account')
INSERT [dbo].[APIs] ([id], [value]) VALUES (N'path_img_content', N'/dir/images/content')
GO
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'aDaRBOaQ', N'Người cấp')
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'EIHOmZSO', N'Tuyển dụng')
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'HkMDmYcC', N'Mua bán')
GO
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://cdn.huongnghiepaau.com/wp-content/uploads/2020/04/image-search-la-gi.jpg', 7)
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://i.ytimg.com/vi/7oIAs-0G4mw/maxresdefault.jpg', 15)
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/27/08/jennifer-lawrence.jpg', 26)
GO
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (1, N'HkMDmYcC')
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (1, N'xiUuqERM')
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (2, N'qbUgTVKh')
GO
SET IDENTITY_INSERT [dbo].[CONTENTS] ON 

INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (1, N'Cần người sửa nhà', N'Nhà bị hư nặng nề cần người sửa giúp, thanh toán nhanh gọn lẹ', CAST(N'2022-07-28T04:14:25.000' AS DateTime), 0, 1, N'guest')
INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (2, N'Cần mua điện thoại cũ', N'Mình đang thu gom các loại điện thoai cũ về để lấy linh kiện, ai có liên hệ với mình, cảm ơn.', CAST(N'2020-10-04T17:19:21.000' AS DateTime), 0, 1, N'user')
INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (3, N'Cần tìm việc làm thời vụ', N'Tui rảnh từ giờ tới cuối tháng, ai có công việc gì cho tui theo làm với. Có sức khỏe và kinh nghiệm làm sales', CAST(N'2020-10-13T08:21:02.000' AS DateTime), 0, 1, N'guest')
SET IDENTITY_INSERT [dbo].[CONTENTS] OFF
GO
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'abc', 17)
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'abc', 22)
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'bcd', 4)
GO
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'admin', N'123', N'requestresponseser@gmail.com', 1, N'https://file.vfo.vn/hinh/2014/11/admin.png')
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'staff1', N'123', N'staff1@gmail.com', 1, N'')
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'staff2', N'123', N'requestresponseser@gmail.com', 0, N'')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LIKES__50F7DC9D455F2F58]    Script Date: 9/29/2022 8:32:59 PM ******/
ALTER TABLE [dbo].[LIKES] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC,
	[content_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTENTS] ADD  DEFAULT ((0)) FOR [views]
GO
ALTER TABLE [dbo].[CONTENTS] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[CONTENT_IMAGES]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[CONTENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTENT_TYPES]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORIES] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CONTENT_TYPES]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[CONTENTS] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTENTS]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[ACCOUNTS] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[ACCOUNTS] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIKES]  WITH CHECK ADD FOREIGN KEY([content_id])
REFERENCES [dbo].[CONTENTS] ([id])
ON UPDATE CASCADE
GO
