<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main ng-app="app" ng-controller="control">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!home" onclick="buttonActive(this, 'btnActive')" name="btnActive">
                <i class="fa-solid fa-chart-simple"></i>&nbsp;Biểu đồ
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-pills" >
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="#statisticAS" onclick="buttonActive(this, 'btnActive')" name="btnActive">
                            <i class="fa-solid fa-chart-simple"></i>&nbsp;Đăng tải nội dung
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="#statisticCS" onclick="buttonActive(this, 'btnActive')" name="btnActive">
                            <i class="fa-solid fa-chart-simple"></i>&nbsp;Thống kê đăng tải
                        </a>
                    </li>
                </ul>
                <button class="ms-auto btn btn-outline-secondary" onclick="location.reload()">reload</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div ng-view></div>
    </div>
    
	<!-- Javascript app -->
	<script type="text/javascript" th:src="@{/js/app/statistic.js}"></script>
</main>
</body>
</html>