<h3 class="text-center">THỐNG KÊ NỘI DUNG ĐƯỢC TẢI LÊN TRONG KHOẢNG THỜI GIAN/h3>
<div class="row align-items-center">
    <div class="col-lg-3 me-auto">
        <label class="fw-bold" >Options</label>
        <select class="form-control" ng-model="fil.t" ng-change="chart(fil)">
            <option value="1">Theo năm</option>
            <option value="2">Theo tháng</option>
            <option value="3">Theo ngày</option>
        </select>
    </div>
    <div class="col-lg-3 text-center">
        <label class="fw-bold">start-time</label>
        <input type="datetime-local" class="form-control" ng-model="fil.start">
    </div>
    <div class="col-lg-3 text-center">
        <label class="fw-bold">end-time</label>
        <input type="datetime-local" class="form-control" ng-model="fil.end">
    </div>
    <div class="col-auto">
        <button class="mt-4 btn btn-outline-success text-nowrap" ng-click="chart(fil)">Thống kê</button>
    </div>
    <div class="mt-3 col-12 mt-lg-3 overflow-auto">
        <div id="showChart" style="min-width: 960px;"></div>
    </div>
</div>