<nav class="navbar navbar-expand-lg bg-dark bg-opacity-25" style="font-size: 1.25rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rao vặt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/user">Tài khoản</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nội dung
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#/category">Phân loại</a></li>
            <li><a class="dropdown-item" href="#/content">Nội dung</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/order">Đơn hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/statistic">Thống kê dữ liệu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>