<div class="container-sm" ng-controller = "accountCtrl">
    <div class="row">
        <h1>Thay đổi mật khẩu</h1>
        <div class="col-3"></div>
        <div class="col-6">
            <form >
                <div class="mb-3 mt-3">
                    <label for="" class="form-lable">Mật khẩu cũ</label>
                    <input class="form-control" type="password" ng-model = "password" required>
                </div>
                <hr>
                    <label for="" class="form-lable">Mật Khẩu mới</label>
                    <input type="password" class="form-control" type="password" ng-model="newpassword" required>
                    <label for="" class="form-lable">Mật Lại Khẩu mới</label>
                    <input type="password" class="form-control" type="password" ng-model="newpassword1" required>
                    <br>
                    <button class="btn btn-outline-success" ng-click = "updatepassword()">Cập nhật mật khẩu</button>
                    <br>
                </form>
        </div>
        <div class="col-3"></div>

    </div>

</div>