<div ng-controller = "mypostcontroll">
  <form name="form" ng-submit="insert()">
    <div class="row">

<div class="col-5">
    Ảnh sản phẩm
<div class="row">
  <div class="col">
    <input type="file" ng-model = "files" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" ng-required = "true" >
  </div>
  <div class="col">
    <input type="file" ng-model = "image2" accept="image/*" onchange="angular.element(this).scope().uploadedFile2(this)" ng-required = "true" >
  </div>
  <div class="col">
    <input type="file" ng-model = "image3" accept="image/*" onchange="angular.element(this).scope().uploadedFile3(this)" ng-required = "true" >
  </div>
</div>
<div class="row">
  <div class="col-12"><img id="output" style="width:300px;height:250px;" class="img-responsive"></div>
  <div class="col-12"><img id="output1" style="width:300px;height:250px;" class="img-responsive"></div>
  <div class="col-12"><img id="output2" style="width:300px;height:250px;" class="img-responsive"></div>
</div>
<br>
</div>

<div class="col-7">
   
<div class="container mt-3">
    <h2>Thông tin sản phẩm</h2>
      <div class="mb-3 mt-3">
        <label for="email">ID KHÁCH HÀNG:</label>
        <input type="text" class="form-control"  placeholder="Nhập ID Khách Hàng" ng-model="customerid" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">lOẠI SẢN PHẨM</label>
        <input type="text" class="form-control"  placeholder="Nhập Loại Sản Phẩm" ng-model="categoryid" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">NỘI DUNG RAO BÁN</label>
        <input type="text" class="form-control"  placeholder="Nhập Nội Dung Rao Bán" ng-model="namecontent" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">NỘI DUNG CHI TIẾT</label>
        <input type="text" class="form-control"  placeholder="Nhập Nội Dung Chi Tiết" ng-model="subject" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">GIÁ SẢN PHẨM</label>
        <input type="number" class="form-control"  placeholder="Nhập Giá Sản Phẩm" ng-model="price" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">EMAIL</label>
        <input type="text" class="form-control" placeholder="Nhập Email" ng-model="email" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">PHONE</label>
        <input type="text" class="form-control"  placeholder="Nhập Số Điện Thoại" ng-model="phone" ng-required="true">
      </div>
      <div class="mb-3">
        <label for="pwd">ADDRESS</label>
        <input type="text" class="form-control"  placeholder="Nhập Address" ng-model="address" ng-required="true">
      </div>
      <input type="submit" value="Post">					
  </div>

</div>
<div class="br"></div>

</div>

  </form>
</div>
