<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org" th:replace="~{/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Developer mode</title>
</head>
<body>
	<main class="container-xxl bg-dark text-light">
		<div class="row">
            <div class="col-12 mb-2 border">
                <div class="d-flex m-3 ms-0 w-100">
                    <h1 class="text-center">DEVELOPMENT MODE</h1>
                    <a class="ms-auto btn btn-outline-info" data-bs-toggle="offcanvas" href="#MailoffCanvas" role="button" aria-controls="MailoffCanvas">
                        <i class="fs-1 m-auto fa-regular fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row" ng-app="app" ng-controller="control">
            <!-- show iamges -->
            <div class="col-6 p-2 border overflow-auto border-end-0" style="max-height: 50vh;">
                <h1 class="text-center border-bottom">Prepare images</h1>
                <div class="d-flex p-2 flex-wrap" id="showPrepareFiles">
                </div>
            </div>
            <div class="col-6 p-2 border overflow-auto" style="max-height: 50vh;">
                <h1 class="text-center border-bottom">images uploaded</h1>
                <div class="d-flex p-2 flex-wrap" id="showUploadFiles">
                    <div class="size-3 m-1 p-1 text-center border" ng-repeat="file in files">
                        <div class="btn-group">
                            <a ng-href="{{file}}" target="_blank" class="btn btn-outline-primary">read</a>
                            <button class="btn btn-outline-danger" ng-click="deleteFile(file)">delete</button>
                        </div>
                        <a ng-href="{{file}}" target="_blank" class="mw-100">
                            <img ng-src="{{file}}" alt="{{file}}" class="mt-1 rounded border w-100">
                        </a>
                    </div>
                </div>
            </div>

            <hr class="mt-2">
            <!-- controls -->
            <div class="col-8 p-2 border border-end-0">
                <h1 class="text-center border-bottom">Server request</h1>
                <div>
                    <div class="mt-3">
                        <label for="host" class="form-label fw-bold">Host</label>
                        <input type="text" class="text-end form-control" placeholder="host" id="host" ng-model="serverIO">
                    </div>
                    <div class="mt-3">
                        <label for="path" class="form-label fw-bold d-flex">paths</label>
                        <input type="text" class="text-end form-control" placeholder="/rest/entityIO" id="path" ng-model="entityIO">
                    </div>
                </div>
            </div>
            <div class="col-4 p-2 border position-relative">
                <h1 class="text-center border-bottom">File setup</h1>
                <div>
                    <input type="file" id="getFiles" multiple accept="image/*" class="form-control" onchange="angular.element(this).scope().prepare(this)">
                    <div class="m-2 position-absolute end-0 bottom-0 d-flex align-items-center">
                        <input type="text" class="form-control" ng-model="folder" ng-init="folder='dir/images/content'">
                        <div class="ms-1 btn-group p-1 border border-primary rounded-3 text-nowrap">
                            <button type="button" class="btn btn-outline-primary" ng-click="getAllFiles()">get all</button>
                            <button type="button" class="btn btn-outline-success" ng-click="postFiles()">upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 p-1 border">
                <div class="d-flex align-items-center">
                    <div class="btn-group fw-bold">
                        <a href="" ng-click="get(entityIO='rest/api')">api</a>&nbsp;|&nbsp;
                        <a href="" ng-click="get(entityIO='rest/accounts')">accounts</a>&nbsp;|&nbsp;
                        <a href="" ng-click="get(entityIO='rest/categories')">categories</a>&nbsp;|&nbsp;
                        <a href="" ng-click="get(entityIO='rest/contents')">contents</a>&nbsp;|&nbsp;
                        <a href="" ng-click="get(entityIO='rest/staffs')">staffs</a>
                    </div>
                    <div class="ms-auto btn-group p-1 border border-info rounded-3">
                        <button type="button" class="btn btn-outline-success text-uppercase" ng-click="get()">GET DATA</button>
                        <button type="button" class="btn btn-outline-primary text-uppercase" ng-click="post()">ADD</button>
                    </div>
                    <div class="ms-1 btn-group p-1 border border-info rounded-3" ng-if="data.length == NaN && data">
                        <button type="button" class="btn btn-outline-warning text-uppercase" ng-click="put()">UPDATE</button>
                        <button type="button" class="btn btn-outline-danger text-uppercase" ng-click="delete()">DELETE</button>
                    </div>
                    <div class="ms-1 btn-group p-1 border border-info rounded-3">
                        <button class="btn btn-outline-secondary text-uppercase" onclick="location.reload()">RELOAD</button>
                    </div>
                </div>
                <!-- result -->
                <div class="d-flex align-items-center justify-content-between">
                    <h1>Result</h1>
                    <h1>{{data.length == NaN  ? 'Object' : 'Array.size: '+data.length}}</h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-10">
                        <div id="message"></div>
                    </div>
                    <div class="col-2 p-2 text-end" ng-if="data.length != NaN">
                        <button class="btn btn-outline-success fs-2 me-1" onclick="alert('(づ￣ 3￣)づ Chưa làm... ')">
                            <i class="fa-regular fa-file-excel"></i>&nbsp;Export
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <textarea class="w-100 bg-transparent text-light" style="min-height: 300px;" ng-model="showDataJson">
                        </textarea>
                    </div>
                    <!-- GENERAL QRCode -->
                    <div class="col-2">
                        <div class="border rounded" style="width: min-content; padding: .1em;">
                            <div class="p-1 bg-transparent" id="qrCode"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<!-- Offcanvas send mail -->
		<div class="offcanvas offcanvas-end w-50 bg-gradient bg-transparent" tabindex="-1" id="MailoffCanvas" aria-labelledby="offcanvasExampleLabel">
		    <div class="offcanvas-header border-bottom text-nowrap">
		        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Send mail</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		    </div>
		    <div class="offcanvas-body">
		        <form method="post" id="subMail" enctype="multipart/form-data">
		            <div class="mt-2">
		                <label class="form-label fw-bold" for="addresses">Addresses</label>
		                <input type="text" class="form-control" id="addresses" name="addresses" placeholder="Your mail">
		            </div>
		            <div class="mt-2">
		                <label class="form-label fw-bold" for="subject">Subject</label>
		                <input type="text" class="form-control" id="subject" name="subject" placeholder="mail's subject">
		            </div>
		            <div class="mt-2">
		                <label class="form-label fw-bold" for="text">Text</label>
		                <textarea class="form-control" placeholder="email messages" id="text" name="text" rows="5"></textarea>
		            </div>
		            <div class="mt-2">
		                <label class="form-label fw-bold" for="filesOfMail">Files</label>
		                <input type="file" class="form-control" id="filesOfMail" name="files" multiple>
		            </div>
		        </form>
		    </div>
		    <div class="border-top p-3">
		        <div class="w-100 d-flex justify-content-between">
		            <div>
		                <label class="form-label fw-bold">Send:&nbsp;</label>
		                <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio" name="type" id="mailTO" form="subMail" value="TO" checked>
		                    <label class="form-check-label" for="mailTO">TO</label>
		                </div>
		                <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio" name="type" id="mailCC" form="subMail" value="CC">
		                    <label class="form-check-label" for="mailCC">CC</label>
		                </div>
		                <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio" name="type" id="mailBCC" form="subMail" value="BCC">
		                    <label class="form-check-label" for="mailBCC">BCC</label>
		                </div>
		            </div>
		            <div class="btn-group">
		                <button type="submit" class="btn btn-primary" form="subMail"
		                    formaction="http://localhost:8080/rest/mail/send">Submit</button>
		                <button type="reset" class="btn btn-secondary" form="subMail">reset</button>
		            </div>
		        </div>
		    </div>
		</div>        
        
		<!-- Javascript app -->
		<script type="text/javascript" th:src="@{/js/app/develop.js}"></script>
	</main>
</body>
</html>