<main class="container-fluid">
    <h1 class="w-100 animate-charcter text-center">Trang quản lý thông tin</h1>
    <div class="row border">
        <div class="p-2 col-lg-4 col-sm-6" onclick="location='#/user'" title="Quản lý tài khoản">
            <div class="p-3 border h-100 text-center h1 font-effect-fire-animation" style="cursor: pointer;">
                <i class="fa-solid fa-user"></i> Quản lý tài khoản
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-6" onclick="location='#/category'" title="Quản lý phân loại">
            <div class="p-3 border h-100 text-center h1 font-effect-fire-animation" style="cursor: pointer;">
                <i class="fa-solid fa-boxes-stacked"></i> Quản lý phân loại
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-6" onclick="location='#/content'" title="Quản lý nội dung">
            <div class="p-3 border h-100 text-center h1 font-effect-fire-animation" style="cursor: pointer;">
                <i class="fa-brands fa-product-hunt"></i> Quản lý nội dung
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-6" onclick="location='#/order'" title="Quản lý hóa đơn">
            <div class="p-3 border h-100 text-center h1 font-effect-fire-animation" style="cursor: pointer;">
                <i class="fa-solid fa-cart-shopping"></i> Quản lý hóa đơn
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-6 flex-fill" onclick="location='#/statistic'" title="thống kê">
            <div class="p-3 border h-100 text-center h1 font-effect-fire-animation" style="cursor: pointer;">
                <i class="fa-solid fa-chart-simple"></i> Thống kê dữ liệu
            </div>
        </div>
    </div>
</main>