USE master
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'RRS_DB')
    DROP DATABASE RRS_DB
GO
	CREATE DATABASE RRS_DB
GO
	USE RRS_DB
GO
IF EXISTS (SELECT name FROM sys.tables WHERE name = 'ACCOUNTS')
    DROP TABLE ACCOUNTS
CREATE TABLE ACCOUNTS (
    username varchar(20) primary key,
    password varchar(30),
    name nvarchar(50),
    email varchar(50),
    image nvarchar(80),
    regDate date
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'STAFFS')
    DROP TABLE STAFFS
CREATE TABLE STAFFS (
    username varchar(20) primary key,
    password varchar(30),
    email varchar(50),
    role bit,
	image nvarchar(255)
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'CONTENTS')
    DROP TABLE CONTENTS 
CREATE TABLE CONTENTS (
    id int identity primary key,
    subject nvarchar(80),
    content nvarchar(255),
    regTime datetime,
    views int default 0,
    active bit default 0,
    account_id varchar(20) foreign key references ACCOUNTS(username) on update cascade on delete cascade
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'CONTENT_IMAGES')
    DROP TABLE CONTENT_IMAGES 
CREATE TABLE CONTENT_IMAGES (
    image nvarchar(255) not null,
    content_id int foreign key references CONTENTS(id) on update cascade on delete cascade,
	primary key(image, content_id)
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'CATEGORIES')
    DROP TABLE CATEGORIES
GO
CREATE TABLE CATEGORIES (
    id char(8) primary key,
    name nvarchar(30)
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'CONTENT_TYPES')
    DROP TABLE CONTENT_TYPES 
CREATE TABLE CONTENT_TYPES (
    content_id int foreign key references CONTENTS(id) on update cascade on delete cascade,
    category_id char(8) foreign key references CATEGORIES(id) on update cascade on delete no action,
    primary key (content_id, category_id)
); 

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'LIKES')
    DROP TABLE LIKES 
CREATE TABLE LIKES (
    account_id varchar(20) foreign key references ACCOUNTS(username) on delete cascade,
    content_id int foreign key references CONTENTS(id) on update cascade,
	unique(account_id, content_id)
);

IF EXISTS (SELECT name FROM sys.tables WHERE name = 'APIs')
    DROP TABLE APIs 
CREATE TABLE APIs (
    id varchar(30) primary key,
    value nvarchar(255)
);
/* __________________________________________________________________________________________________________________________________________________________________________________________________________ INSERT INTO VALUES DATABASE */
USE [RRS_DB]
GO
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'abc', N'123', N'Chung Bảo Trúc', N'samara.hirthe69@yahoo.com', N'user.png', CAST(N'2022-03-16' AS Date))
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'bcd', N'123', N'Giang Lê Quỳnh', N'estrella42@gmail.com', N'user.png', CAST(N'2022-03-25' AS Date))
INSERT [dbo].[ACCOUNTS] ([username], [password], [name], [email], [image], [regDate]) VALUES (N'cde', N'123', N'Ngư Thy Vân', N'myrl_mitchell@gmail.com', N'user.png', CAST(N'2022-03-30' AS Date))
GO
SET IDENTITY_INSERT [dbo].[CONTENTS] ON 

INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (1, N'Cần người sửa nhà', N'Nhà bị hư nặng nề cần người sửa giúp, thanh toán nhanh gọn lẹ', CAST(N'2022-07-28T04:14:25.000' AS DateTime), 0, 1, N'guest')
INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (2, N'Cần mua điện thoại cũ', N'Mình đang thu gom các loại điện thoai cũ về để lấy linh kiện, ai có liên hệ với mình, cảm ơn.', CAST(N'2020-10-04T17:19:21.000' AS DateTime), 0, 1, N'user')
INSERT [dbo].[CONTENTS] ([id], [subject], [content], [regTime], [views], [active], [account_id]) VALUES (3, N'Cần tìm việc làm thời vụ', N'Tui rảnh từ giờ tới cuối tháng, ai có công việc gì cho tui theo làm với. Có sức khỏe và kinh nghiệm làm sales', CAST(N'2020-10-13T08:21:02.000' AS DateTime), 0, 1, N'guest')
SET IDENTITY_INSERT [dbo].[CONTENTS] OFF
GO
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'guest', 1)
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'guest', 2)
INSERT [dbo].[LIKES] ([account_id], [content_id]) VALUES (N'guest', 3)
GO
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://cdn.huongnghiepaau.com/wp-content/uploads/2020/04/image-search-la-gi.jpg', 7)
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://i.ytimg.com/vi/7oIAs-0G4mw/maxresdefault.jpg', 15)
INSERT [dbo].[CONTENT_IMAGES] ([image], [content_id]) VALUES (N'https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/27/08/jennifer-lawrence.jpg', 26)
GO
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'aDaRBOaQ', N'Người cấp')
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'EIHOmZSO', N'Tuyển dụng')
INSERT [dbo].[CATEGORIES] ([id], [name]) VALUES (N'HkMDmYcC', N'Mua bán')
GO
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (1, N'HkMDmYcC')
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (1, N'xiUuqERM')
INSERT [dbo].[CONTENT_TYPES] ([content_id], [category_id]) VALUES (2, N'qbUgTVKh')
GO
INSERT [dbo].[APIs] ([id], [value]) VALUES (N'path_img_account', N'/dir/images/account')
INSERT [dbo].[APIs] ([id], [value]) VALUES (N'path_img_content', N'/dir/images/content')
GO
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'admin', N'123', N'requestresponseser@gmail.com', 1, N'https://file.vfo.vn/hinh/2014/11/admin.png')
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'staff1', N'123', N'staff1@gmail.com', 1, N'')
INSERT [dbo].[STAFFS] ([username], [password], [email], [role], [image]) VALUES (N'staff2', N'123', N'requestresponseser@gmail.com', 0, N'')
GO
