@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
body{
    display: block;
    background-size: 80%;
}
nav{
    background-color: rgb(33, 183, 131)
}
/* nav 1 */
nav ul.navbar-nav a.nav-link{
    color: aliceblue;
    margin-left: 60px;
    font-size: 20px;
}
ul.navbar-nav a.nav-link i{
   font-size: 20px;
}
div.logo a.nav-link img{
    width: 100px;
}

/* nav 2 */

form.input-group.mb-3 {
    margin-top: 15px;
    width: 800px;
    height: 40px;
}

form.input-group.mb-3 input{
    border-radius: 0;
}
form.input-group.mb-3 button{
    border-radius: 0;
    
}
ul.navbar-nav li.nav-bar1 a.nav-link i{
    font-size: 30px;
}
nav.navbar.navbar-expand-sm div.panel{
    /* width: 150px;
    height: 30px; */
    /* background-color: #158a7a ; */
    margin-left: 100px;
}
nav.navbar.navbar-expand-sm div.panel i{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
div.row{
    background-color: white;
}
div.row div.carousel.slide{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
/* div.carousel-inner img{

} */
div.row nav{
    background-color: white
}
div.row nav ul.navbar-nav a.nav-link{
    color: rgb(0, 120, 225);
    margin-left: 60px;
    font-size: 20px;
    text-align: center;
}
div.row nav ul.navbar-nav a.nav-link img{
    width: 50px;
    height: 50px;

}
div.panel-category{
    width: 100%;
    height: 100%;
    background-color:white;
}
div.br{
    background-color: rgb(33, 183, 131);
    height: 20px;
}
div.panel-category nav ul.navbar-nav a.nav-link img{
    width: 100px;
    height: 100px;
}
div.product-list{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
div.subject{
    font-size: 20px;
}
div.price{
    font-size: 25px;
    color: red;
}
div.col-2dot4 img{
    width: 100%;
    height: 230px;
    object-fit: contain;
}
div.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
div.load {
    background-color: rgb(196, 210, 221);
    text-align: center;
    margin-top: 50px;
    
}
div.detail{
    background-color: white;
}
footer{
    background-color: rgb(255, 255, 255);

}
div.img-footer img{
    width: 115px;
    height: 39px;
    margin-bottom: 15px;
}
div.img-link img{
    margin-bottom: 40px;
    margin: 5px;
}
 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
div.col-2dot4 {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-size: cover;
    background-position:center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    overflow: hidden;
}

div.col-2dot4:hover{
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0, 0.64);
    transform:  scale(1.2);
    z-index: 10;
    box-shadow: 0px 35px 77px -17px rgb(0, 0, 0.4);
    background-color: rgb(212, 220, 229);

}
div.view-shop{
    margin-top: 15px;
    border-radius: 20px;
    text-align: center;

}
div.col4 {
    margin-left: 32px;
}
div.infomation{
    background-color: rgb(229, 230, 231);
    border-radius: 10px;
}
div.infomation h5{
    color: rgb(11, 156, 108);
}
/* div.view-shop h4{
    margin-top: 10px;
    background-color: aqua;
    height: 50px;
    border-radius: 20px;
    text-align: center;

} */
div.image_account img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: contain;
    margin-top: 10px;
}
div.image-details img{
	
	width: 500px;
	height: 500px;
	margin: auto;
	object-fit: contain;
}
div.panel-create{
    width: 100%;
    height: 500px;
    background-color:white;
}
div.choose-image{
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    background-color: rgb(218, 224, 228);
}
div.col-12 img{
    width: 100%;
    height: 230px;
    object-fit: contain;
}
img.imagecategory{
    object-fit: cover;
    border-radius: 15px;
}
div.imagedetail img{
    width: 700px;
    height: 500px;
    object-fit: contain;
}
div.dropdown{
    left: 30px;
}